.form {
  background-color: #15172b;
  border-radius: 20px;
  box-shadow: 10px 5px 1px #fbc40e;
  box-sizing: border-box;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-weight: 600;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-weight: 600;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.submit {
  margin-top: 3rem;
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}
.submit:active {
  background-color: #06b;
}

.close {
  background-color: brown;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 25px;
  text-align: center;
  width: 100%;
}
.close:active {
  background-color: red;
}
